* {
    margin: 0;
    border: 0;
}

body {
    background-color: #e4c77c;
    color: white;
    height: max-content
}

nav {
    width: 100%;
    background-color: #264653;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    backdrop-filter: blur(10px);
    margin-bottom: .75rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #2A9D8F;
    padding-left: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0px;
    justify-content: space-between;
}

.nav-links li a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #2A9D8F;
    text-shadow: 0 0 5px #2A9D8F;
}

.btns {
    display: flex;
}

.btn {
    padding: .5rem 1.5rem;
    border-radius: 30px;
    font-size: 1rem;
    background-color: #2A9D8F;
    box-shadow: 0 0 10px #2A9D8F;
    transition: 0.3s;
    margin-right: 10px;
}

.btn:hover {
    box-shadow: 0 0 15px #2A9D8F;
    color: whitesmoke;
}

.main-content {
    background-color: white;
    border-radius: 20px;
    margin-top: 5px;
}

.heading-point {
    color: #264653;
    margin-left: 20px;

}

.destinations-container {
    margin: 20px;
    min-width: 200px;
    min-height: 275px;
    max-width: 280px;
    max-height: 335px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
}

.main-pd-text {
    margin: 10px;
}

.destination-price {
    color: goldenrod;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-left: 10px;
}

#localDelicacy {
    background-image: url('./images/food1.png');
}

#beaches {
    background-image: url('./images/baga1.png');
}

#waterfalls {
    background-image: url('./images/dudhsagar1.png');
}

#forts {
    background-image: url('./images/chapora2.png');
}

#hotels {
    background-color: blanchedalmond;
}

.hotel {
    /* border-radius: 20px; */
    margin: 10px;
    padding: 10px;
}

.hotel-pic {
    min-width: 200px;
    min-height: 180px;
    max-width: 280px;
    max-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.hotel-description {
    background-color: aliceblue;
    min-width: 200px;
    min-height: 105px;
    max-width: 280px;
    max-height: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px #264653;

}

.hotel-name {
    color: #264653;
    margin-left: 10px;
    /* margin-top: 5px; */
    font-size: x-large;
    font-weight: bolder;
}

.fav {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.fav:hover {
    cursor: pointer;
}

.hyatt-hotel {
    background-image: url('./images/hotel-pic/hyatt.png')
}

.hotel-rating {
    background-color: #264653;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 5px;
}

.hotel-d1 {
    display: flex;
    justify-content: space-between;
}

.stars {
    height: 15px;
}

.hotel-stars {
    margin-left: 10px;
}

.reviews {
    color: grey;
    font-size: small;
}

.hotel-d2 {
    display: flex;
    justify-content: flex-start;
}

.hotel-d3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.price {
    color: #264653;
    font-weight: bolder;
    font-size: large;
    margin-left: 10px;
}

.hotel-booking {
    background-color: #e9c46a;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.hotel-d4 {
    display: flex;
    justify-content: space-between;
}

.fern-hotel {
    background-image: url('./images/hotel-pic/fern.png');
}

.lua-hotel {
    background-image: url('./images/hotel-pic/lua-nova.png')
}

.stonewood-hotel {
    background-image: url('./images/hotel-pic/stonewood.png');
} 
